<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">Reset Password</h1>
    <div class="col-6 offset-3">
        <form action="/reset-password/<%= token %>" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" name="password" class="form-control" required id="password">
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" required id="confirm-password">
            </div>
            <button class="btn btn-primary">Update Password</button>
        </form>
    </div>
</div>
